# Xcode
*.xcuserstate
*.xcworkspace
*.xcuserdata
*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings

# Build
build/
DerivedData/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/
Cartfile.resolved

# Swift Package Manager
.swiftpm/
.build/

# Xcode coverage
*.xccovreport
*.xccovarchive

# Playground
timeline.xctimeline
playground.xcworkspace

# Log files
*.log

# Temp files
*.tmp
*.swp
*.swo

# Other
*.DS_Store
*.localized
*.DS_Store
*.AppleDouble
